.address-form .pop-over-inner
  width 100%
  max-width 650px


.address-form .pop-over-inner .dropdown-inner
  left 0
  max-height 200px

.shipping .state-dd.custom-dropdown .dropdown-inner
  right 0
  left auto

.address-popup
  .pop-over-inner
    .dropdown-inner
      max-height 200px

    .pop-footer > .flex
    & > .flex
      margin 0
