@import "variables.styl"

.category-wrapper.area
  background none
  position relative

  .area-content
    padding-left 0
    padding-right 0
    position relative

  .title
    border-bottom 0
    padding 0 0 15px

  .glide-nav
    button
      opacity .4

      &.prev-btn
        left 0
        right auto

      &.next-btn
        right 0
        left auto

      &:hover
        opacity .9

      &:active
        opacity 1 !important

  &:hover
    .glide-nav
      button
        opacity 1

  .embla li
    padding 0 5px

  .embla li > a
    background transparent
    border-radius 0
    padding 0

//RESPONSIVE
@media only screen and (max-width: 576px)
  .category-wrapper.area
    .glide-nav
      height 0
      width 0
      position static

      .next-btn
        left auto
        right 10px

      .prev-btn
        left 10px
        right auto
